<div class="container">
  <h1>About Us </h1>
  <p>Car Rental is speacialized to help people to list their car to make some
    extra money while they do not use their car and to rent a car when they need
    to drive.</p>
  <p>If you need a question, feel free to contact us by clicking link below</p>

  <a href="/contact">Contact Us</a>

  <small>All rights reserved. Copyright &copy 2023</small>
</div>