<div class="container">
  <h2 class="center">
    Welcome
  </h2>

  <h2 class="center">Car Rental Service</h2>
  <h2 class="center">
    <a href="/auth/facebook" class="btn btn-primary">
      Login with facebook
    </a>
  </h2>

  <h2 class="center">
    <a href="/auth/google" class="btn btn-danger"> Login with Google</a>
  </h2>

  <h2 class="center">
    <a href="/email" class="btn btn-info"> Login with Email</a>

  </h2>

  <h5 class="center">
    <a href="/signup">Need an Account</a>

  </h5>

</div>

<style>
  body{ background-image:
  url('https://img.freepik.com/free-vector/geometric-abstract-background-with-connected-dots-lines_1409-1866.jpg?w=1380&t=st=1677252093~exp=1677252693~hmac=a5323f19c258f84125bcc231b9a6d080c19308ec0cc85fd1b25f97499bc03bfc');
  }
</style>