<div class="card" style="width: 18rem;">
  <img src="{{user.image}}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>

    <a href="/chatOwner/{{owner._id}}" class="btn btn-primary">Chat</a>
  </div>
</div>